@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_GbQXME.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQXME.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ObXXME.ttf) format('truetype');
}
/* Colors */
/* Fonts */
/* Widths:
- Mobile: 375px
- Desktop: 1440px


- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600
 */
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: no-repeat;
  background-size: cover;
}
.flex-container {
  position: relative;
  max-width: 120vh;
  height: 100%;
}
#div1 {
  position: absolute;
  width: -100px;
  height: -100px;
  background: blue;
  order: 1;
  left: 80px;
  top: 2px;
}
h1 {
  margin: 0;
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 3.8rem;
  letter-spacing: 10px;
}
h2 {
  margin: 0;
  color: hsl(0, 6%, 24%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 10px;
  line-height: 4rem;
}
#div2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #1aff00;
  bottom: 0;
  left: 80px;
  order: 2;
}
.main {
  width: 70%;
}
p {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%);
  line-height: 1.6rem;
  padding: 0.6rem 0rem;
}
#div3 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 100%;
  order: 3;
}
/* Email Input */
.form-group {
  position: relative;
  width: 90%;
  /*
  input[type="submit"] {
    display: none;
  } */
}
.form-group .form-field {
  position: absolute;
  z-index: 1;
  color: hsl(0, 36%, 70%);
  border-color: hsl(0, 36%, 70%);
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  padding: 0.8rem 13rem 0.8rem 1rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  transition: background-color 0.5s ease-out;
}
.form-group input:invalid {
  border-color: hsl(0, 36%, 70%);
  background-color: transparent;
}
.form-group input:focus:invalid {
  background: url('../images/icon-error.svg') no-repeat 90% 60%;
  background-size: 27px;
  background-position: 50% 5% 10% 5%;
}
.form-group img {
  position: absolute;
  z-index: 2;
  left: 20rem;
  border-radius: 20px;
  padding: 0.9rem 1.5rem;
  box-shadow: 4px 10px 4px hsl(0, 65%, 93%);
  cursor: pointer;
  background-color: pink;
  color: white;
}
.form-group .submit {
  position: absolute;
  z-index: 3;
  border-radius: 20px;
  padding: 0.6rem 2rem 0.6rem 1rem;
  margin-left: 19rem;
  cursor: pointer;
  opacity: -1;
}
@media (max-width: 400px) {
  .grid-container {
    grid-template-rows: auto;
  }
}
