@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_GbQXME.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQXME.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ObXXME.ttf) format('truetype');
}
/* Colors */
/* Fonts */
/* Widths:
- Mobile: 375px
- Desktop: 1440px


- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600
 */
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: no-repeat;
  background-size: cover;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.left-container {
  padding: 1rem 1rem;
}
.logo {
  order: 1;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  order: 2;
}
.logo,
.main {
  display: inline-block;
  padding: 10%;
  align-items: center;
  justify-content: center;
}
.mobile-img {
  height: 2px;
  width: 2px;
  opacity: 0;
}
#div3 {
  order: 3;
}
/* Form styles

/* Email Input 
.form-group {
  position: relative;
  width: 90%;
  /*
  input[type="submit"] {
    display: none;
  } */
/*
  .form-field {
    position: absolute;
    z-index: 1;
    color: @saturated-red;
    border-color: @saturated-red;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 0.8rem 13rem 0.8rem 1rem;
    font-family: @font-family;
    letter-spacing: 1px;
    font-weight: 400;
    transition: background-color 0.5s ease-out;
  }
  input:invalid {
    border-color: @saturated-red;
    background-color: transparent;
  }
  input:focus:invalid {
    background: url("../images/icon-error.svg") no-repeat 90% 60%;
    background-size: 27px;
    background-position: 50% 5% 10% 5%;
  }
  img {
    position: absolute;
    z-index: 2;
    left: 20rem;
    border-radius: 20px;
    padding: 0.9rem 1.5rem;
    box-shadow: 4px 10px 4px hsl(0, 65%, 93%);
    cursor: pointer;
    background-color: pink;
    color: white;
  }

  .submit {
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    padding: 0.6rem 2rem 0.6rem 1rem;
    margin-left: 19rem;
    cursor: pointer;
    opacity: 0 - 1;
  }
}
*/
@media only screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main {
    text-align: center;
  }
  .main::after {
    background-image: url("../images/hero-mobile.jpg");
  }
  #div3 {
    display: none;
  }
  .mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }
  .left-container {
    padding: 0;
  }
}
