@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/* Colors */
@saturated-red: hsl(0, 36%, 70%);
@soft-red: hsl(0, 93%, 68%);
@dark-gray-red: hsl(0, 6%, 24%);
@linear-color1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
@linear-color2: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
/* Fonts */
@font-size: 16px;
@font-family: "Josefin Sans", sans-serif;

/* Widths:
- Mobile: 375px
- Desktop: 1440px


- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600
 */

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: no-repeat;
  background-size: cover;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.left-container {
  padding: 1rem 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo, .main {
  display: inline-block;    
  padding: 10%; 
  align-items: center;
  justify-content: center;  
}

.mobile-img{
  height: 2px;
  width: 2px;
  opacity: 0;
}

/* Fonts */
h1{
  font-family: @font-family;
  font-weight: 100;
  letter-spacing: 4px;
  color: @saturated-red;
  line-height: 3rem;
  font-size: 3.4rem;
}
h2{
  font-family: @font-family;
  color: @dark-gray-red;
  letter-spacing: 12px;
  line-height: 3.5rem;
  font-size: 3rem;
  padding-top: 1rem;
}
p {
  font-family: @font-family;
  padding-bottom: .5rem;
  text-align: justify;
  line-height: 1.4rem;
  padding: 1.3rem 0rem;
  color: @saturated-red;
}



/* Form styles   /*

/* Email Input   /**/
.form-group {
  position: relative;

  input[type="submit"] {
    display: none;
  } 

  .form-field {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: @saturated-red;
    border-color: @saturated-red;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 1rem 8rem 0.8rem 1rem;
    font-family: @font-family;
    letter-spacing: 1px;
    font-weight: 400;
    transition: background-color 0.5s ease-out;
  }
  input:invalid {
    border-color: @saturated-red;
    background-color: transparent;
  }
  input:focus:invalid {
    background: url("../images/icon-error.svg") no-repeat 90% 60%;
    background-size: 27px;
    background-position: 50% 5% 10% 5%;
  }
  img {
    position: absolute;
    z-index: 2;
    left: 15rem;
    border-radius: 20px;
    padding: 0.9rem 1.5rem;
    box-shadow: 4px 10px 4px hsl(0, 65%, 93%);
    cursor: pointer;
    background-color: pink;
    color: white;
  }

  .submit {
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    padding: 0.6rem 2rem 0.6rem 1rem;
    margin-left: 19rem;
    cursor: pointer;
    opacity: 0 - 1;
  }
}


@media only screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .left-container{
    padding: 0;
  }
  .logo{
    padding: 1%;
  }
  .main{
    text-align: center;
  }
  h1{
    line-height: 2rem;
  }
  h2{
    line-height: 3rem;
  }
  p{
    padding-bottom: 1rem;
  }
  #div3{
    height: 1px;
    display: none;
  }
  .mobile-img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity: 1;
  }
}
