@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/* Colors */
@saturated-red: hsl(0, 36%, 70%);
@soft-red: hsl(0, 93%, 68%);
@dark-gray-red: hsl(0, 6%, 24%);
@linear-color1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
@linear-color2: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
/* Fonts */
@font-size: 16px;
@font-family: "Josefin Sans", sans-serif;

/* Widths:
- Mobile: 375px
- Desktop: 1440px


- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600
 */

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-image: url("../images/bg-pattern-desktop.svg");
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  padding: 8% 0% 0% 20%;
  gap: 10rem;
}

#grid-item1 {
  grid-area: 1 / 1 / span 1 / span 2;
}

h1 {
  margin: 0;
  color: @saturated-red;
  font-family: @font-family;
  font-weight: 100;
  font-size: 3.8rem;
  letter-spacing: 10px;
}

h2 {
  margin: 0;
  color: @dark-gray-red;
  font-family: @font-family;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 10px;
  line-height: 4rem;
}

#grid-item2 {
  grid-area: 2 / 1 / span 2 / span 2;
}

p {
  font-family: @font-family;
  color: @saturated-red;
  line-height: 1.6rem;
  padding: 0.6rem 0rem;
}

#grid-item3 {
  grid-area: 1 / 3 / span 3 / span 2;
}

/* Email Input */
.form-group {
  position: relative;
  width: 80%;
/*
  input[type="submit"] {
    display: none;
  } */

  .form-field {
    position: absolute;
    z-index: 1;
    color: @saturated-red;
    border-color: @saturated-red;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: .7rem 13rem .8rem 1rem;
    font-family: @font-family;
    letter-spacing: 1px;
    font-weight: 400;
    transition: background-color 0.5s ease-out;
  }
  input:optional {
    border-color: gray;
  }
  input:required {
    border-color: black;
  }
  input:invalid {
    border-color: @saturated-red;
  }
  input:focus:invalid {
    background: url('../images/icon-error.svg') no-repeat 95% 50%;
    background-size: 25px;
    margin-right: 4rem;
  }
  svg {
    position: absolute;
    z-index: 2;
    left: 20rem;
    border-radius: 20px;
    padding: .6rem 2rem;
    box-shadow: 4px 10px 4px hsl(0, 65%, 93%);
    cursor: pointer;
  }

  .submit {
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    padding: .6rem 2rem .6rem 1rem;
    margin-left: 19rem;
    cursor: pointer;
    opacity: 0.0 - 1.0;
  }
}



.icon-arrow {
  background-color: pink
}

@media (max-width: 400px) {
  .grid-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
