@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/* Colors */
@saturated-red: hsl(0, 36%, 70%);
@soft-red: hsl(0, 93%, 68%);
@dark-gray-red: hsl(0, 6%, 24%);
@linear-color1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
@linear-color2: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
/* Fonts */
@font-size: 16px;
@font-family: "Josefin Sans", sans-serif;

/* Widths:
- Mobile: 375px
- Desktop: 1440px


- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600
 */

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: no-repeat;
  background-size: cover;
}

.flex-container {
  position: relative;
  max-width: 120vh;
  height: 100%;
}

#div1 {
  position: absolute;
    width: -100px;
    height: -100px;
    background: blue;
    order: 1;
    left:80px; 
    top:2px;
}

h1 {
  margin: 0;
  color: @saturated-red;
  font-family: @font-family;
  font-weight: 100;
  font-size: 3.8rem;
  letter-spacing: 10px;
}

h2 {
  margin: 0;
  color: @dark-gray-red;
  font-family: @font-family;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 10px;
  line-height: 4rem;
}

#div2{
  position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(26, 255, 0);
    bottom: 0;
    left:80px;
    order: 2;
}

.main{
  width: 70%;
}

p {
  font-family: @font-family;
  color: @saturated-red;
  line-height: 1.6rem;
  padding: 0.6rem 0rem;
}

#div3 {
  position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 100%;
    order: 3;
}

/* Email Input */
.form-group {
  position: relative;
  width: 90%;
/*
  input[type="submit"] {
    display: none;
  } */

  .form-field {
    position: absolute;
    z-index: 1;
    color: @saturated-red;
    border-color: @saturated-red;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
   padding: .8rem 13rem .8rem 1rem;
    font-family: @font-family;
    letter-spacing: 1px;
    font-weight: 400;
    transition: background-color 0.5s ease-out;
  }
  input:invalid {
    border-color: @saturated-red;
    background-color: transparent;
  }
  input:focus:invalid {
    background: url('../images/icon-error.svg') no-repeat 90% 60%;
    background-size: 27px;
    background-position: 50% 5% 10% 5%;
  }
  img {
    position: absolute;
    z-index: 2;
    left: 20rem;
    border-radius: 20px;
    padding: .9rem 1.5rem;
    box-shadow: 4px 10px 4px hsl(0, 65%, 93%);
    cursor: pointer;
    background-color: pink;
    color: white;
  }

  .submit {
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    padding: .6rem 2rem .6rem 1rem;
    margin-left: 19rem;
    cursor: pointer;
    opacity: 0.0 - 1.0;
  }
}


@media (max-width: 400px) {
  .grid-container {
    grid-template-rows: auto;
  }
}
